<?xml version="1.0" encoding="UTF-8"?>
<phpunit  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
	bootstrap="./vendor/autoload.php"
	stopOnWarning="false"
	verbose="false"
	backupGlobals="false"
	backupStaticAttributes="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
	colors="true">
    <php>
        <var name="DB_DSN" value="sqlite::memory:" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="pluf_test" />
    	<var name="DB_SCHEMA" value="sqlite" />
    </php>
    <testsuites>
        <testsuite name="imgx">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

	<!-- Code coverage -->
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
    <logging>
		<log 
			type="coverage-clover" 
			target=".build/clover.xml"/>
		<log 
			type="coverage-html" 
			target=".build/coverage"/>
    </logging>
</phpunit>